<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:mem:m_academy_repository;INIT=CREATE SCHEMA IF NOT EXISTS
            m_academy_storage;
        </property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="com.itacademy.database.entity.User"/>
        <mapping class="com.itacademy.database.entity.Student"/>
        <mapping class="com.itacademy.database.entity.Professor"/>
        <mapping class="com.itacademy.database.entity.Course"/>
        <mapping class="com.itacademy.database.entity.Task"/>
        <mapping class="com.itacademy.database.entity.Homework"/>
    </session-factory>
</hibernate-configuration>